	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Edit <%= @person.getCat %></h3>
		</div>
		<div class="panel-body">
			<div class="col-xs-12">
				<%= render 'form' %>
			</div>
		</div>
	</div>
