container_commands:
  1_change_permissions:
    command: chmod -R 777 solr/ log/ tmp/
  2_stop_solr:
    command: RAILS_ENV=production rake sunspot:solr:stop
  3_start_solr:
    command: RAILS_ENV=production rake sunspot:solr:start
  4_reindex_solr:
    command: RAILS_ENV=production rake sunspot:reindex
