<div class="col-xs-12" style="backrgound-color:green;">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Last Contributions</h3>
		</div>
		<div class="panel-body">
			<ul>
				<li>Last article by Henri</li>
				<li>Last Technology by Julian</li>
				<li>dskjfhasdjfhk sda sd</li>
				<li>sdkfjha klsdjfhkdjs </li>
			</ul>
		</div>
	</div>
</div>