<div class="col-xs-12" style="backrgound-color:green;">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Last Contributions</h3>
		</div>
		<div class="panel-body">
			Panel content
		</div>
	</div>
</div>