	<div class="col-xs-3">
		<p>
			<%= image_tag(current_user.picture) %>
			<%= current_user.firstname + ' ' + current_user.lastname %>
			<%= link_to 'Sign Out', 'users/sign_out' %>
		</p>
		<h5><b>My search history</b></h5>
		<ul>
			<li>dsfkjhsdkj</li>
			<li>dsfkjhsdkj</li>
			<li>dsfkjhsdkj</li>
			<li>dsfkjhsdkj</li>
		</ul>
	</div>
	