<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
    	<a href="/" class="navbar-brand">
    		<%= image_tag("global/logo_unknowns.png", :alt => "Unknowns", :height => 28) %>
			Knowledge
		</a>
    </div>
  </div>
</nav>
