p.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 15em
}
label > strong {
	color: red;
}
label.required:before {
	content:"* ";
	color:red;
}

.btn-primary:visited {
    color: #FFF;
    background-color: #428BCA;
    border-color: #357EBD;
}
