	<% if params[:ajax] != 'true' %>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Show Technology</h3>
		</div>
	<% end %>
		<div class="panel-body">
			<div class="col-xs-12">
				<%= render 'form', :readonly => 'true' %>
			</div>
		</div>
	<% if params[:ajax] != 'true' %>
	</div>
	<% end %>