<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h4 id="myModalLabel"></h3>
</div>
<div class="modal-body">
	<div id="main-container">
		<div class="row">
			<div class="col-xs-12">
				<!-- Search Area -->
				<%= render 'shared/searchpopin' %>
				
				<!-- Main Content // Create -->
				<div id="modalSearchResults" class="col-xs-12">
					<%= yield %>
				</div>
			</div>
		</div>
	</div>
</div>
